/* Navbar Container */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fb8500;
  padding: 12px 20px;
  font-family: Arial, sans-serif;
  height: 65px;
}

/* Logo + Brand Name */
.navbar-left {
  display: flex;
  align-items: center;
  gap: 15px;
}

.logo {
  font-size: 38px;
  color: white;
}

.brand {
  font-weight: bold;
  color: white;
  font-size: 30px;
}

/* Navbar Links */
.navbar-links {
  list-style: none;
  display: flex;
  gap: 30px;
}

.navbar-links li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 25px;
  transition: 0.3s;
}

.navbar-links li a:hover {
  color: black;
}

/* Search Bar */
.navbar-search {
  display: flex;
  align-items: center;
  gap: 10px;
}

.navbar-search input {
  padding: 6px 10px;
  border-radius: 5px;
  border: none;
  outline: none;
  height: 35px;
  width: 300px; 
}

.navbar-search button {
  background-color: white;
  border: none;
  padding: 6px 10px;
  border-radius: 5px;
  height: 35px;
  cursor: pointer;
  transition: 0.3s;
}

.navbar-search button:hover {
  background-color: #f0f0f0;
}
